.container1{
    padding-right: 100px;
    padding-left: 100px;
}
.orange{
    color: orange;
}
body{
    background-color: #f9f9f9;
}

#title-title{
    text-align: center;
}
/*Hamburger*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  
}

/*Header*/
#header-nav{
    background-color: #50beaf;
}
#nav-list li a{
    color: whitesmoke;
}
.dropdown-menu li a{
    color: whitesmoke;
}
.navbar-header{
    float: left;
position: absolute;
left: 0;
padding-left: 48px;
}
.btn-color{
    background-color: #50beaf;
}
.dropdown{
    margin-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
    color: whitesmoke;
    padding-right: 25px;
}
.dropdown-menu{
    background-color: #50beaf;
    min-width: 100%;
}

.Quick-Link{
    border: 1px solid #e0e0e0;
    line-height: 2em;
    padding-left: 13px;
}

/*Main Content*/
.Tag-Text{
    color: gray;
}

.glype-box{
    position: absolute;
    left: 0;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    padding: 10px 12px;
    color: gray;
}
.box-outline{
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.btn-border{
    background-color: rgba(255,255,255,.15);
    color :#46b8da;
    float: right;
    width: 100%;
}

.footer,
.push {
  height: 40px;
  /*margin-top: 35px;*/
  background-color: #50beaf;
}
.content {
  min-height: 84%;
  margin-bottom: 35px;
}




/*Media Query*/

@media screen and (max-width: 767px){
    .patient-detail{
        text-align: center;
    }
    .Quick-Link{
        border: 0;
    }
    .display-1{
        display: none;
    }
        #nav-list{
        padding-left : 0px;
    }
    #date-title{
    top: 30px;
    }
    
    
}
@media screen and (max-width: 480px){
#main-container{
    padding: 0;
}
    .input-buttons{
        top: 18px;
    }
}

@media (min-width: 480px) and (max-width : 767px){
    #main-container{
        padding: 0 20px;
    }
    .Tab-name{
        margin: 0 10px -1px;
        
    }
    .navbar-form{
    top: 129px;
    }
}
@media (min-width : 593px ) and (max-width: 767px){
    .input-buttons{
        top: 70px;
    }
}
@media (min-width : 480px ) and (max-width: 592px){
    .input-buttons{
        top: 18px;
    }
}

@media (min-width : 768px ) and (max-width: 991px){
    .navbar-nav>li{
        font-size: 0.7em;
    }
        #nav-list{
        padding-left : 15px;
    }
    .input-buttons{
        top :68px;
    }
    #nav-list{
    padding-left: 99.5px;
    text-align: center;
}

   .Tab-name{
        padding: 15px 18px;
        margin: 0 26px -1px;
    }
    .container1 {
    padding-right: 50px;
    padding-left: 50px;
    }
    #date-title{
    top: 26px;
    }
    .popup-row{
    height: 50px;
    }
    #btn1{
        padding : 4px 9px;
    }
    .btn-arrow{
    height: 30px;
    }
    .msg-options{
        height: 71px;
    }
    .Message{
            border: 1px solid #e0e0e0;
            border-left: transparent; 
    }
}
@media (min-width : 320px ) and (max-width: 479px){
   .Tab-name{
        margin: 0 0 -1px;
    }
        .popup-button{
    position: relative;
    right: 22px;
    }
    .navbar-form{
        width: 100%;
        left: 16px;
        top: 190px;
    }

}

@media (min-width : 992px ) and (max-width: 1199px){
    #nav-list{
        padding-left : 80px;
    }
    .input-buttons{
        top :68px;
    }
   .Tab-name{
        padding: 15px 18px;
        margin: 0 26px -1px;
    }
    #nav-list{
    padding-left: 188px;
    text-align: center;
}

     #date-title{
    top: 33px;
    }
    .container1 {
    padding-right: 75px;
    padding-left: 75px;
    }
    .popup-row{
        height: 50px;
    }
    #btn1{
        padding : 4px 9px;
    }
    .btn-arrow{
    height: 30px;
    }
    .msg-options{
        height: 71px;
    }
    .Message{
            border: 1px solid #e0e0e0;
            border-left: transparent; 
    }

}

@media (max-width : 768px){
   #collapsable-nav{
       margin-top: 50px; 
   }
   .Tab-name{
        padding: 15px 15px;
        
    } 
    #nav-list{
    
    text-align: left;
}

    #day-title{
        top: 40px;
    }   
    .inp{
        padding: 0;
    }
    .popup-container{
        height: 600px;
    }
    .search-icon{
        top: 20px;
    }    
    .invisible-xs{
        display: none;
    }
    .Message{
            border: 1px solid #e0e0e0;
    }
}
@media(min-width : 769px){
    .navbar-form{
        top : 150px;
    }
    .search-icon{
        top: 10px;
    }
}
@media (min-width : 1200px){
.input-buttons{
        top :68px;
    }
   .Tab-name{
        margin: 0 26px -1px;
        padding: 15px 25px;
    }    
     #date-title{
    top: 40px;
    }
    .popup-row{
    height: 50px;
    }
    #nav-list{
    padding-left: 262px;
    text-align: center;
}

    .btn-arrow{
    height: 34px;
}
    .msg-options{
        height: 75px;
    }
    .Message{
            border: 1px solid #e0e0e0;
            border-left: transparent; 
    }
}

/*Tabs*/
.Tab{
      display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.Tab-name {
    display: inline-block;
    /*margin: 0 26px -1px;*/
    
    font-weight: 600;
    text-align: center;
    color: #0f0f0f;
    background-color:#ccc; 
    border: 1px solid transparent;
    border-radius: 5px 5px 0px;
}
input:checked + .Tab-name {
  color: #555;
  background-color: whitesmoke; 
  border: 1px solid #ddd;
  /*border-top: 2px solid orange;*/
  border-bottom: 1px solid #fff;
}
#tab1, #tab2{
    display: none;
}



/*End of Tabs*/

/*Buttons*/
.input-buttons{
    float: right;
    position: relative;
    
    display: flex;
}
.Action-button{
    margin-left: 10px;
}
#colored-btn{
    border: 1px solid #50beaf;
    color: #50beaf;
}
#dropdown-list {
    background-color: white; 
}
#dropdown-list li a{ 
    color: #50beaf;

}

/*End Buttons*/


/*Table in Tab*/
#content1, #content2{
        padding-top: 80px;
}
table{
    color: gray;
}

thead{
    color: black;
}
.light-weight{
    font-weight: lighter;
}
#checkbox-styling{
    padding-bottom: 13px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    padding-left: 22px;
}

/*End of Table in Tab*/


input:checked + .Tab-name {
  color: #555;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
#date-title{
    margin-top: -50px;
    position: relative;
}

/*Appt-Pop Up CSS*/

.inp{
display:block;
margin-bottom:15px;
border-radius:5px;
background-color: white;
color: #e0e0e0;
padding-left: 0px;
}
.popup-container{
    padding: 100px 35px 100px 35px;
}
.popup-text{
        width: 100%;
    border-radius: 5px;
}
.inp1{
    padding-right: 0px;
}
.inp1 textarea{
    width: 100%;
    height: 75px;
}


/*////////////Messages/////////////*/

.navbar-form, .search-icon{
    position: absolute;
}
.search-icon{
    right: 28px;
}
.msg-name{
    border: 1px solid #e0e0e0;
    border-bottom : transparent;
    margin-bottom: -10px; 
    padding-left: 15px; 
}
.row-1{
    height: 25px;
    margin: 10px 0;
}
.Message{
    height: 531px;
}
.msg-header{
    border-bottom: 1px solid #e0e0e0;
    margin: 0 15px;
}
.msg-date{
    position: relative;
    float: right;
    margin-top: -99px;
    right: 15px;
}
.msg-footer, .msg-content{
    margin: 0 15px;
}
.msg-footer{
    margin-top: 30px;
}
.btn-styling{
    margin: 20px 0;
}


.msg-buttons{
    border: 1px solid #e0e0e0;
    margin-bottom: -10px; 
    padding-left: 15px; 
}
.button-left{
    position: relative;
    top: 20px;
}
.button-right{
    float: right;
    position: relative;
    top: -18px;
}
.msg-options{
    padding: 0 15px;
    /*height: 76px;*/
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
#btn{
    padding : 8px 14px;
    border-color: #50beaf ;
    color: #50beaf;
}
#btn1{
        border: 1px solid #e0e0e0;
    background-color: white;
    color: black;
}
#btn:hover{
    color: white;
    background: #50beaf;
}




/*=========================================================================================
==========================================My Health css================================== */

.panel {
    margin-bottom: 80px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    height: 50px;
    font-size: large;
}
.well {
    border-radius: 0;
}
.well {
    
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    
}

@media (min-width: 992px) and (max-width: 1199px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
    .no-gutter.row > .col-lg-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-lg-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-lg-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-lg-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-lg-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-lg-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-lg-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-lg-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-lg-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-lg-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-lg-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
    .no-gutter.row > .col-md-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-md-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-md-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-md-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-md-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-md-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-md-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-md-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-md-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-md-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
  .col-xs-6{
    font-size: small;
  }
}

@media (min-width: 480px) and (max-width: 766px) {
  .no-gutter.row> div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
    .no-gutter.row > .col-xs-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-xs-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-xs-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-xs-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-xs-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-xs-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-xs-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-xs-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-xs-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-xs-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-xs-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
  .col-xs-6{
    font-size: large;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
    .no-gutter.row > .col-xs-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-xs-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-xs-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-xs-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-xs-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-xs-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-xs-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-xs-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-xs-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-xs-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-xs-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
  .col-xs-6{
    font-size: x-large;
  }
}


element {
    margin-bottom: -20px;
}

/*==================================MyDocument======================================
=================================================================================*/

.btn-primary {
    color: #50beaf;
    background-color: #f5f5f5;
    border-color: #50beaf;
}
.btn-info {
    color: #50beaf;
    background-color: white;
    border-color: #50beaf;
}

.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

